body {
    background: linear-gradient(to bottom right,rgb(253, 142, 142), #feb0b0, #ffb1b1, #ffc6c6);
}

.topbar {
    margin-top: 20px;
    margin-bottom: 50px;
}

.center-menu {
    display: flex;
    justify-content: center;
}

.center-topbar {
    position: fixed;
    background: linear-gradient(to top left,#4e4e4e, #606060, #7d7d7d, #5a5a5a);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    width: 95vw;
    z-index: 1;
    background-image: url('../hack_memories.gif');
    background-size: cover;
    background-position: center;
}

.center-topbar h1,
.center-topbar h2,
.center-topbar label {
    color: white;
}


.topbar-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.deliverable-header {
    font-style: italic;
    font-family: Ubuntu;
    margin-bottom: 0;
}

.submit-quote-text {
    position: relative;
    bottom: -15px;
    font-family: Ubuntu;
    margin-top: 10px;
    margin-bottom: 7px;
    font-family:'Trebuchet MS';
}

.quote-image {
    height: 80px;
    width: 80px;
    margin-left: 15px;
    padding: 7.5px;
    background-color: black;
}

.quote-input {
    border-width: 5px;
    border-radius: 2px;
}


.submit-quote-section {
    margin-top: 20px;
}
.submit-quote-section label {
    font-family:'Trebuchet MS';
    font: bold;
}

.submit-elems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote-submit-button {
    position: relative;
    border-color: rgb(46, 46, 46);
    border-style: solid;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    height: 45px;
    left: 20px
}

.quoteListing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: minmax(600px, 80%);
}

.columns {
    display: flex;
    flex-direction: column;

}

.columns p {
    word-break: break-word;
}

.prevQuoteText {
    display: block;
    position: relative;
    left: 30px;
    font-family: OCR A Std, monospace;
}

.date-picker {
    display: block;
    position: relative;
    left: 30px;
}

.calendarFilter {
    margin-top: 250px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border: solid;
    border-color: black;
    border-radius: 2px;
    background-color: #A6D0DD;
    max-width: 300px;
}